<section id="tabs">
  <div class="row">
      <div class="col-xl-12 ">
          <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-add-room" data-toggle="tab" href="#nav-add-room" role="tab" aria-controls="nav-add-room" aria-selected="true">Add Room</a>
                  <a class="nav-item nav-link" id="nav-show-rooms-tab" data-toggle="tab" href="#nav-show-rooms" role="tab" aria-controls="nav-show-rooms" aria-selected="false">Show rooms</a>
              </div>
          </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-add-room" role="tabpanel" aria-labelledby="nav-add-room-tab">
                <app-add-room></app-add-room>
            </div>
        </div>
      </div>
  </div>
</section>